<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--jdbc配置文件-->
    <context:property-placeholder location="classpath:jdbc.properties" />
    <!--service扫描-->
    <context:component-scan base-package="com.afabao.sys.service" />

    <!--数据源-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <property name="url" value="${jdbc.url}" />
    </bean>

    <!--sqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations" value="classpath:/mapper/*Mapper.xml"/>
    </bean>

    <!--Mapper扫描-->
    <bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
        <property name="basePackage" value="com.afabao.sys.dao" />
    </bean>

    <!--事务-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <aop:aspectj-autoproxy/>
    <tx:annotation-driven transaction-manager="transactionManager" />

    <import resource="classpath:shiro.xml" />

    <!--配置web过滤器-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager" />
        <!--如果没有认证则跳到登陆页面-->
        <property name="loginUrl" value="/login"/>
        <!--配置安全规则-->
        <property name="filterChainDefinitions">
            <value>
                <!--登陆页面不拦截-->
                /login anon
                <!--静态资源可以直接访问-->
                /css/** anon
                /fonts/** anon
                /js/** anon
                /plugin/** anon
                <!--user表示身份认证通过-->
                /** user
            </value>
        </property>

    </bean>

</beans>